<div class="header">
			<div class="container">
				<h1 class="header-heading">bowleague<img class="banner-image" src="../shared/images/page-top-bowling.jpg"></img></h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
                    <li><a href="#/home" id="btn">HOME</a></li>
					<li><a href="#/teams" id="btn">TEAMS</a></li>
					<li><a href="#/players" id="btn">PLAYERS</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<h2>Add New Players for {{ team.name }}</h2>
					<hr>
	
					<h4>Player Name</h4>
					<form ng-submit="addNewPlayer()">
						<input class="team-match-input" ng-model="newPlayer.name" placeholder=""></input><br>
					</form>
					<button id="btn-team-match" ng-click="addNewPlayer()">Add Player</button><br>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
                <ul class="footer-nav">
                    <li>&copy; OD-Werks</li>
                    <li><a href="mailto:odie_de_moura@hotmail.com" target="_top" class="home-email">GET IN TOUCH</a></li>
                </ul>
			</div>
		</div>