		<div class="header">
			<div class="container">
				<h1 class="header-heading">bowleague<img class="banner-image" src="../shared/images/page-top-bowling.jpg"></img></h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
<!--
					<li><a href="#">HOME</a></li>
					<li><a href="#">TEAMS</a></li>
					<li><a href="#">PLAYERS</a></li>
-->
                    <li><a href="#/home" id="btn">HOME</a></li>
					<li><a href="#/teams" id="btn">TEAMS</a></li>
					<li><a href="#/players" id="btn">PLAYERS</a></li>
					<li><a href="#" id="btn" ng-click="logout()">LOGOUT</a>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<h1>Player/Match Editing</h1>
					<hr>

					<div class="grid-responsive">
                        <h3>Add a new match for {{ player.name }} or &nbsp<button id="team-match-submit" ng-click="removePlayer()">Remove Player</button></h3><br>
                        <input class="team-match-input" type="text" ng-model="games.gm1" placeholder="Game One"></input>
                        <input class="team-match-input" type="text" ng-model="games.gm2" placeholder="Game Two"></input>
                        <input class="team-match-input" type="text" ng-model="games.gm3" placeholder="Game Three"></input>
                        <input type="submit" id="team-match-submit" value="Add Match" ng-click="updateGames()"></input>
                        <br>
                        <br>
						<br>
						<br>
                        <h4><strong>{{ player.name }}&nbspSTATS</strong></h4>
                        Games Played: <strong>{{ player.gamesPlayed }}</strong><br>
                        Average: <strong>{{ player.average }}</strong><br>
                        Total Pins: <strong>{{ player.totalPins }}</strong><br><br>
						<br>
                        <br>
						<br>
                    </div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
                <ul class="footer-nav">
                    <li>&copy; OD-Werks</li>
                    <li><a href="mailto:odie_de_moura@hotmail.com" target="_top" class="home-email">GET IN TOUCH</a></li>
                </ul>
			</div>
		</div>
