<menu id='home-menu'></menu>

<br>
Add A New Match For {{ team.name }} or <button ng-click="removeTeam()">Remove Team</button><br>
<input type="text" ng-model="matches.ptsWon" placeholder="Points Won"></input>
<input type="text" ng-model="matches.ptsLost" placeholder="Points Lost"></input>
<input type="text" ng-model="matches.totalPins" placeholder="Total Pins"></input>
<input type="submit" value="Add Match" ng-click="updateMatch()"></input>
<br>
<br>
{{ team.name }}&nbspStats<br>
Total Points Won: {{ team.totalPtsWon }}<br>
Total Points Lost: {{ team.totalPtsLost }}<br>
Total Pins: {{ team.totalPins }}<br><br>

Players:<br>
<div ng-repeat="player in team.players">{{ player }}</div>
<br>
<br>
