<menu id="home-menu"></menu>

<br>
Add A New Team in Woody's Almost Classic League<br><br>
Team Name&nbsp&nbsp<input type="text" ng-model="newTeam.name" placeholder=""></input><br><br>
Add Players<br>
<!--<input type="text" ng-model="players.p1" placeholder="Player 1" required></input><br>
<input type="text" ng-model="players.p2" placeholder="Player 2" required></input><br>
<input type="text" ng-model="players.p3" placeholder="Player 3" required></input><br>
<input type="text" ng-model="players.p4" placeholder="Player 4" required></input><br>
<input type="text" ng-model="players.p5" placeholder="Player 5" required></input><br>
<input type="text" ng-model="players.p6" placeholder="Player 6"></input><br>
<input type="text" ng-model="players.p7" placeholder="Player 7"></input><br>
<input type="text" ng-model="players.p8" placeholder="Player 8"></input><br>
<input type="text" ng-model="players.p9" placeholder="Player 9"></input><br>-->


<form ng-submit="addNewPlayer()">
	<input ng-model="newPlayer" placeholder="Please Type a New Player"></input>
</form>
<button ng-click="addNewPlayer()">add new player</button>
<ul>
	<li ng-repeat="player in myPlayers track by $index" >{{ player }}<button ng-click="delete(players, $index)">Remove</button></li>
</ul>
<input type="submit" value="Submit" ng-click="postNewTeam()"></input><br>