<head>
    <meta charset="utf-8">
    <title>bowleague Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../shared/css/styles.css" />
</head>

<body>
    <div class="login-container">
        <header id="login-header">bowleague</header>
        <div class="image-container">
            <img class="ballpins" src="../../shared/images/bowling_ball_pins.png"></img>
        </div>
        <form id="login-box">
            <p id="login-p">Please Login to Continue</p>
            <label for="username">username</label>
            <input type="text" name="username" placeholder="Username" ng-model="user.name">
            <label for="password">password</label>
            <input type="password" name="password" placeholder="Password" ng-model="user.password">
            <a href="#"><input type="submit" value="Login" ng-click="login()"></a>
            <footer class="login-footer"><a class="footer-link" href="mailto:odie_de_moura@hotmail.com?subject=Request For A bowleague Login&body=Name: %0D%0AUsername:%20" target="_top">Request Login</a><br><a class="footer-link" href="mailto:odie_de_moura@hotmail.com?subject=Forgot bowleague Login&body=My Username is:%20" target="_top">Forgot Password</a></footer>
        </form>
    </div>


    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>

</html>
